@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sombra {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.img-responsive {
  width: 300px;
  height: auto;
  display: block;
  position: relative;
}

.input-group input {
  position: relative;
  background-color: #e9e9e9;
  color: #919191;
  width: 100%;
}

.input-group input.form-control {
  position: relative;
  background-color: #e9e9e9;
}

.input-group button {
  position: absolute;
  border: none;
  top: 5px;
  right: 6px;
  background-color: #e9e9e9;
  border-radius: 50px;
  color: #919191;
  z-index: 10;
}

.input-group input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
  color: #303030;
}

.card-infor {
  margin: 0;
  line-height: 1;
  color: #ffffff;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.title-menu {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #ff7ca0, var(--bs-danger));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.menu-web {
  background-color: #ff3260;
}

.icon-menu {
  color: var(--bs-danger);
  border: none;
}

.nav-item .nav-link {
  color: #ffffff;
  z-index: 10;
}

.nav .nav-item {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.nav .nav-item a:hover {
  transition: all 0.2s ease-out;
  scale: 1.1;
  text-decoration: none !important;
  line-height: 0.5;
}

.sticky-element {
  display: block;
  position: sticky;
  top: 0;
  z-index: 20;
}

.header-nav {
  background-color: var(--bs-light);
}

.nav .nav-item .nav-link {
  font-size: 1.2rem;
}

#mobile-menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Estilo para o menu móvel */
#mobile-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Esconde o menu fora da tela */
  width: 300px;
  height: 100%;
  background: #333;
  transition: left 0.5s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.nav-link {
  width: 100%;
}

#mobile-menu.menu-open {
  left: 0; /* Mostra o menu */
}

#mobile-menu .nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-menu .nav-menu .nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#mobile-menu .nav-menu .social .nav-link {
  display: flex;
  justify-content: space-between;
}

.fa-chevron-right {
  margin-left: auto;
  color: var(--bs-white);
}

#mobile-menu .nav-menu li {
  padding: 15px;
  border-bottom: 1px solid #444;
  color: #fff;
}

#mobile-menu .menu li a {
  color: #fff;
  text-decoration: none !important;
}

#mobile-menu .exit-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 10px;
  cursor: pointer;
  color: var(--bs-white);
  background-color: var(--bs-primary);
}

#mobile-menu .exit-menu a {
  color: #fff;
  text-decoration: none;
}

.card {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  line-height: 1;
}

.coracao {
  height: 100px;
  width: 100px;
  position: absolute;
  color: var(--bs-danger);
  top: 1rem;
  right: -1rem;
  cursor: pointer;
}

.coracao {
  transition: transform 0.2s ease, color 0.2s ease;
}

.coracao:active {
  transform: scale(1.15);
}

.card-img-top {
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card-title {
  min-height: 60px;
  font-size: 1rem;
  line-height: 1.2;
}

.badge {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-size: 1.5rem;
  margin: 10px 0;
}

.btn {
  width: 100%;
}

.row .col {
  display: flex;
  justify-content: center;
}

.row.items .col-lg-3:last-child {
  margin-right: auto;
}

.btn-modal {
  text-decoration: none;
  cursor: pointer;
  color: rgb(61, 61, 61);
  margin-bottom: 10px;
}

.btn-modal:hover {
  color: var(--bs-danger);
}

.preco {
  color: var(--bs-danger);
  margin-bottom: 3px;
}

#pagination .page-item.active .page-link {
  background-color: #dc3545; /* Cor de fundo ativa */
  color: white;
}

#pagination .page-link {
  color: #dc3545;
  border: 1px solid rgba(0, 0, 0, 0.0941176471);
  transition: all 0.3s;
}

#pagination .page-link:hover {
  background-color: #dc3545;
  color: white;
  text-decoration: none;
}

.box-temp {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.vibrate {
  display: inline-block;
  animation: vibrate 0.2s ease-in-out infinite;
}

.contador {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  backface-visibility: hidden;
  animation: background-timer 2s ease-out infinite, scale 0.9s ease-in-out infinite;
}

.icon-title,
.iconmais18 {
  animation: scale 2s ease-in-out infinite;
}

.color {
  animation: colos 2s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.title-combos {
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  color: var(--bs-primary);
  padding: 10px 0 0 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title-combos span {
  font-weight: bold;
}

/* Adicione este CSS ao seu arquivo de estilo */
#slider-combos-yoni {
  position: relative; /* Garante que os botões sejam posicionados em relação ao carousel */
}

#slider-combos-yoni .carousel-control-prev,
#slider-combos-yoni .carousel-control-next {
  position: absolute; /* Posiciona os botões absolutamente dentro do carousel */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta o posicionamento vertical */
  width: auto; /* Largura automática para os botões */
  border: none; /* Remove bordas */
  padding: 10px; /* Espaçamento interno */
  z-index: 10; /* Garante que os botões fiquem acima dos itens do carousel */
}

#slider-combos-yoni .carousel-control-prev {
  left: 0; /* Colado à esquerda */
}

#slider-combos-yoni .carousel-control-next {
  right: 0; /* Colado à direita */
}

/* Estilo para os ícones dos botões */
#slider-combos-yoni .carousel-control-prev-icon,
#slider-combos-yoni .carousel-control-next-icon {
  filter: brightness(0) invert(0);
}

/* Estilo para os indicadores */
#slider-combos-yoni .carousel-indicators {
  bottom: -30px; /* Ajusta a posição dos indicadores */
}

#slider-combos-yoni .carousel-indicators button {
  width: 30px;
  height: 3px;
  background-color: #ccc; /* Cor padrão */
  border: none;
  margin: 0 5px;
}

#slider-combos-yoni .carousel-indicators button.active {
  background-color: #444444; /* Cor do indicador ativo */
}

/* Estilo para os cart-carrinho */
.cart-car {
  position: fixed;
  top: 0;
  right: -100%;
  width: 600px;
  height: 100%;
  background-color: var(--bs-light);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 20;
  overflow-y: auto;
  padding: 10px 20px 40px;
  transition: 0.5s ease-in-out;
}

.txt-cart {
  font-size: 1.5rem;
}

.cart-button button {
  font-size: 1.2rem;
}

.cart-car #close {
  cursor: pointer;
}

.cart-car.active {
  right: 0;
  cursor: pointer;
}

.card-header .card-title {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 2px solid #c9c9c9;
}

.cart-car .card-body {
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #c9c9c9;
  padding: 20px 0 0 0;
}

.cart-input {
  padding: 20px 0 0 20px;
}

.input-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1rem;
}

#quantity {
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 13px;
}

.card-footer {
  font-size: 1.5rem;
}

.card-footer .total-sub {
  color: #dc3545;
}

@keyframes colos {
  0% {
    color: var(--bs-primary);
  }
  25% {
    color: #ff3260;
  }
  50% {
    color: var(--bs-primary);
  }
  75% {
    color: #ff3260;
  }
  100% {
    color: var(--bs-primary);
  }
}
@keyframes background-timer {
  0% {
    background-color: #ff3e24;
  }
  25% {
    background-color: #ff7c24;
  }
  50% {
    background-color: #ff3e24;
  }
  75% {
    background-color: #ff7c24;
  }
  100% {
    background-color: #ff3e24;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.bg-yoni {
  background-color: #fff385;
}

@media (max-width: 991px) {
  .sticky-element {
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .nav .nav-item .nav-link {
    font-size: 2rem;
  }
  .card-infor {
    font-size: 0.5rem;
  }
  .nav .nav-item .nav-link {
    font-size: 0.8rem;
  }
  .img-responsive {
    padding: 10px 0;
    width: 150px;
    height: auto;
    display: block;
    position: relative;
    margin-left: 1.5rem;
  }
  #mobile-menu-button {
    display: block;
  }
  #mobile-menu {
    display: block;
  }
  .cart-car {
    width: 100%;
  }
}
